<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./header'); %>
  </head>
  <body class="container" onload="draw()">
    <header><%- include('./navigation'); %></header>

    <h1>Interactive visualization</h1>
    <h4>
      <a href="/by_source_selection"
        >Analysis of media bias by source selection</a
      >
    </h4>
    <h4>
      <a href="/by_commission"> Analysis of media bias by commission </a>
    </h4>
    <h4>
      <a href="/by_omission"> Analysis of media bias by omission </a>
    </h4>
  </body>
</html>
