/data
/model
/modelBAK
/put_deprecated_things_here
/deprecatedtask1-topic-modelling-lda/data/
/deprecatedtask1-topic-modelling-lda/output/
/deprecatedtask3-source-retrieval/input/
/deprecatedtask3-source-retrieval/output/
/deprecatedtask2-narrow-event-detection-giveme5w1h/data/
/deprecatedtask2-narrow-event-detection-giveme5w1h/output/
/deprecatedtask2-narrow-event-detection-giveme5w1h/training/examples/datasets/
/deprecatedtask2-narrow-event-detection-giveme5w1h/training/__pycache__/
/deprecatedtask2-narrow-event-detection-giveme5w1h/training/result/
/deprecatedtask2-narrow-event-detection-giveme5w1h/training/queue_caches/
/deprecatedtask4-paragraph2vec-text-alignment/data/
/.idea
/.vscode
/.ipynb_checkpoints
/__pycache__
*.bak
*.pyc
*.model
*.zip
*.Lnk
*~
*.pkl
*.ipynb
*.pdf
*.doc
*.docx
*.png
*.pptx
*.txt