beautifulsoup4==4.11.1
bertopic==0.14.1
chatnoir_api==2.0.7
datasets==2.7.1
gensim==4.2.0
geopy==2.3.0
Giveme5W1H==1.0.18
google_api_python_client==2.86.0
matplotlib==3.5.3
networkx==2.6.3
nltk==3.7
numpy==1.21.6
pandas==1.1.5
pydantic==1.10.2
scikit_learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
sentence_transformers==2.2.2
spacy==3.4.3
torch==1.13.0
tqdm==4.64.1
transformers==4.25.1
win10toast==0.9
